{% extends "layouts/base.twig" %}

{# Solution data #}
{% set page = post.get_field('json_data')|json_decode %}
{# Template data #}
{% set base = post.parent.get_field('json_data')|json_decode %}
{# Solution data #}
{% set baseSolution = attribute(base, page.product) %}
{# Is hotels #}
{% set isHotels = page.sector ==  'Hoteles y Resorts' and lang == 'es' %}

{% block content %}
	<section class="simple relative">
		<div class="relative mx-auto">
			<img class="sol-header-img absolute w-full h-full object-cover bottom-0 z-10" src="{{page.header_img}}">
			<div class="container relative mx-auto flex px-12 pt-32 lg:pt-64 z-30">
				<div class="w-full lg:w-1/2 px-8 md:px-0 text-white lg:mr-48">
					<img class="h-24" src="{{assetPath("images/#{baseSolution.logo}")}}"/>
					<h1 class="text-2xl uppercase mt-4">
						{{page.title}}
					</h1>
					<p class="lg:h-32 sm:text-2xl mt-4 pb-12 lg:pb-64">{{baseSolution.subtitle}}</p>
				</div>
				<div class="relative w-1/3 hidden lg:block mt-auto shadow-2xl">
					<div class="rounded-t-xl overflow-hidden bg-white">
						<img class="w-full h-64 object-cover" src="{{page.header_card_img}}" alt="">
					</div>
				</div>
			</div>
		</div>
		<div class="relative z-30 bg-black">
			<div class="container flex mx-auto px-12">
				<div class="w-full md:w-1/2 px-8 md:px-0 text-white lg:mr-48">
					<h2 class="hidden md:block whitespace-no-wrap -mt-10" style="font-size: 5rem;">{{page.sector}}</h2>
					<ul class="inline-flex items-center sm:items-end my-16 lg:mt-24 lg:mb-40 bg-white rounded">
						{% for btn in baseSolution.buttons %}
							{% if loop.index == 1 %}
								{% set btnClass = 'rounded-l' %}
							{% elseif loop.index == 3 %}
								{% set btnClass = 'rounded-r' %}
							{% endif %}
							<li class="h-full md:w-56 mb-0">
								{% set isCurrent = page.sector == btn.title %}
								<a href="{{btn.path}}" class="block h-full no-underline py-4 hover:bg-purple-lightest {{btnClass}} {{isCurrent ? 'bg-purple-lightest' : ''}}">
									<img class="flex-shrink-0 h-8 mx-auto" src="{{assetPath("images/#{btn.icon}")}}">
									<p class="text-center text-xs md:text-lg text-black mb-0 mt-2 hidden sm:block whitespace-no-wrap">
										{{btn.title}}</p>
								</a>
							</li>
						{% endfor %}
					</ul>
				</div>
				<div class="relative w-1/3 hidden lg:block">
					<div class="rounded-b-xl overflow-hidden mb-2 bg-white">
						<div class="text-center px-12 pt-4 pb-8">
							<h3 class="text-lg text-gray-500">
								{{page.product}}</h3>
							<h2 class="font-bold text-3xl leading-tight">
								{{page.sector}}
							</h2>
							<p class="text-gray-700 text-2xl mt-4">
								{{baseSolution.mini_content}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="h-10 gradient-{{page.product}}"></div>

	{% if isHotels %}
		<div class="js-modal hidden absolute w-full h-full top-0 bg-black z-50">
			<div class="relative max-w-5xl bg-white rounded-xl mx-auto mt-20 pb-24 z-10 shadow-xl">
				<div class="flex justify-end p-4">
					<a href="#" class="js-form-close inline-block z-50" data-target="menu">
						<img class="w-8" src="{{assetPath('images/close-black.svg')}}">
					</a>
				</div>
				{{ function('do_shortcode', "[contact-form-7 title='Landing Gosafe']") }}
				{{'</div>'}}
			</div>
		</div>

		<section class="bg-white simple pt-32 pb-0 overflow-hidden">
			<div class="max-w-6xl flex flex-col lg:flex-row mx-auto">
				<div class="lg:w-1/2 w-full lg:pr-8 pr-0">
					<img class="object-cover mx-auto xl:mx-0" src="{{page.ticks.img}}"/>
				</div>
				<div class="lg:w-1/2 w-full lg:pl-8 pl-0 mt-16 lg:mt-0 mx-16 xl:mx-0">
					<h3 class="font-header text-3xl normal-case">{{page.ticks.title}}</h3>
					{% for tick in page.ticks.items %}
						<div class="flex {{loop.index == 1 ? 'mt-8' : ''}}">
							<img class="mr-4" src="{{assetPath("images/tick-icon-black.svg")}}">
							<p class="text-xl">
								{{tick}}
							</p>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endif %}

	<section class="bg-white pb-0 overflow-hidden">
		<div class="container mx-auto">
			<h2 class="xl:px-64 mt-4 text-center">{{base.cards.title}}
			</h2>
			<div class="card-sol-container">
				<div class="container flex flex-wrap items-start justify-center mt-24 mx-auto">
					{% for card in page.cards %}
						{% set card = attribute(base.cards.items, card) %}
						<div class="relative w-64 py-6 h-auto">
							<div class="card-sol">
								<img class="w-24 h-24 mx-auto" src="{{assetPath("images/#{card.img}.svg")}}"/>
								<h3 class="text-lg font-normal font-body font-bold leading-tight text-center text-gray-600 mt-4 normal-case">
									{{card.title}}</h3>
								<p class="card-sol-text">{{card.content}}</p>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</section>

	{% if isHotels %}
		<section class="relative simple bg-white pb-32">
			<div class="relative flex items-center flex-col max-w-4xl mx-auto bg-white shadow-xl md:rounded-xl px-32 py-16 text-center z-10">
				<img class="object-cover" src="{{assetPath("images/#{page.gosafe.card.img}")}}"/>
				<p class="font-header text-3xl mt-8">
					{{page.gosafe.card.title}}
				</p>
				<p class="text-2xl mt-8">
					{{page.gosafe.card.subtitle}}
				</p>
			</div>
			<div class="relative max-w-6xl md:flex mx-auto mt-32 z-10">
				<div class="w-full lg:w-1/2 lg:pr-8">
					<img class="object-cover mx-auto lg:mx-0" src="{{assetPath("images/#{page.gosafe.body.img}")}}"/>
				</div>
				<div class="w-full lg:w-1/2 lg:pl-8 flex flex-col justify-center mt-16 lg:mt-0 px-16 lg:px-0">
					<p class="text-3xl text-white">
						{{page.gosafe.body.title}}
					</p>
					<p class="text-2xl text-white mt-8">
						{{page.gosafe.body.subtitle}}
					</p>
				</div>
			</div>
			<div class="bg-double-color bg-double-color-xl gradient-gosafe"></div>
		</section>

		<section class="bg-white">
			<div class="container mx-auto pt-16">
				<h2 class="text-4xl leading-tight xl:px-64 mt-4 text-center">{{page.extra_cards.title}}
				</h2>
				<p class="font-header text-3xl xl:px-64 mt-4 text-center">{{page.extra_cards.subtitle}}
				</p>
				<div class="flex flex-wrap justify-center mt-24 mx-auto">
					{% for card in page.extra_cards.items %}
						<div class="w-48 h-56 bg-white rounded-xl shadow-2xl p-4 border mr-8 mb-8">
							<img class="w-24 h-24 mx-auto" src="{{assetPath("images/#{card.img}.svg")}}"/>
							<h3 class="text-base font-normal font-body font-bold leading-tight text-center text-gray-600 mt-4 normal-case">
								{{card.title}}</h3>
						</div>
					{% endfor %}
				</div>
			</div>
		</section>

		<section class="simple bg-green pt-8">
			<div class="max-w-6xl flex flex-col-reverse md:flex-row items-center mx-auto">
				<div class="w-full lg:w-1/2 lg:pr-8 flex justify-center">
					<img class="object-cover" src="{{assetPath("images/#{page.extra_ticks.img}")}}"/>
				</div>
				<div class="w-full lg:w-1/2 lg:pl-8">
					{% for tick in page.extra_ticks.items %}
						<div class="flex justify-center md:justify-start {{loop.index == 1 ? 'mt-8' : ''}}">
							<img class="mr-4" src="{{assetPath("images/tick-icon-black.svg")}}">
							<p class="text-2xl">
								{{tick}}
							</p>
						</div>
					{% endfor %}
				</div>
			</div>
			<div class="w-full">
				<img class="object-cover w-full" style="max-height: 275px;" src="{{page.extra_ticks.img_b}}">
			</div>
		</section>

		<section style="background-color:#F5F5F8">
			<h2 class="text-center">
				{{page.plan_gosafe.title}}
			</h2>
			<div class="plans-container flex flex-col lg:flex-row justify-center mt-16 mx-auto">
				<div class="plans-w bg-white shadow rounded-xl mx-auto lg:mx-0 px-12">
					<div class="text-center rounded-t-xl pt-4">
						<img src="{{assetPath("images/#{page.plan_gosafe.logo}")}}" class="px-16 mx-auto mt-4"/>
						<p class="text-2xl font-header">{{plan.plan_gosafe.title}}</p>
						<div class="h-24 flex justify-center items-center mx-4 border-b border-gray-400">
							<p class="text-2xl font-header mt-4">{{page.plan_gosafe.subtitle}}</p>
						</div>
					</div>
					<ul class="p-8">
						{% for item in page.plan_gosafe.options %}
							<li class="text-xl text-gray-600 mt-4">
								{{item}}
							</li>
						{% endfor %}
					</ul>
					<div class="text-center h-24 mt-8">
						<a href="#" class="btn btn-primary js-modal-trigger">{{page.plan_gosafe.cta}}</a>
					</div>
				</div>
			</div>
		</section>
	{% endif %}

	{% if page.plans %}
		<section class="js-planes-host hidden bg-gray-200">
			<h2 class="text-center">
				{{page.plans.title}}
			</h2>
			<div class="plans-container flex flex-col lg:flex-row justify-center mt-16 mx-auto">
				{% for plan in page.plans.types %}
					{% set isMiddle = loop.index == 2 %}
					{% set isHighlighted = false %}
					<div class="plans-w bg-white shadow rounded-xl mx-auto {{isMiddle ? 'lg:mx-16' : 'lg:mx-0'}} {{not isHighlighted ? 'mt-4' : ''}}">
						<div class="text-center rounded-t-xl {{isHighlighted ? 'text-white bg-purple py-4' : 'pt-4'}}">
							<h3 class="text-xl pt-4 {{not isHighlighted ? 'text-purple' : 'mt-4'}}">
								{{plan.title}}</h3>
							<img src="{{assetPath("images/icon-plan-#{plan.title|lower}.svg")}}" class="h-24 mx-auto mt-4"/>
							<p class="text-2xl font-header mt-4">{{plan.subtitle}}</p>
							{% if not isHighlighted %}
								<div class="mx-4 mt-4 border-b border-gray-400"></div>
							{% endif %}
							{% if productStandard['name']|split(' ')[1] == plan.title %}
								<div class="h-24 mx-4 pt-1 border-b border-gray-400">
									<h3 class="font-header span-nowhitespace leading-none">
										<span class="text-4xl">{{productStandard.price}}</span>
										<span class="text-2xl">{{productStandard.currency}}</span>
									</h3>
									<p class="font-header bg-gray-400 inline-block px-4">+
										{{productRooms.price}}{{productStandard.currency}}
										{{page.plans.payment_room}}
									</p>
									<p class="font-header">
										{{page.plans.payment_cycle}}
									</p>
								</div>
							{% else %}
								<div class="h-24 flex justify-center items-center mx-4 border-b border-gray-400">
									<h3 class="font-header text-gray-500 text-4xl capitalize">{{page.plans.no_price}}</h3>
								</div>
							{% endif %}
						</div>
						<ul class="p-8">
							{% for item in page.plans.options %}
								{% if plan.limit >= loop.index %}
									<li class="text-xl text-gray-600 mt-4">
										{{item}}
									</li>
								{% else %}
									<li class="text-xl text-gray-300 mt-4 line-through">
										{{item}}
									</li>
								{% endif %}
							{% endfor %}
						</ul>
						<div class="text-center h-24 mt-8">
							<a href="{{plan.path}}" class="btn btn-primary">{{plan.cta}}</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</section>
	{% endif %}

	{% if page.case_study %}
		<section class="text-center">
			<h2 class="text-white">
				{{base.case_study.title}}
			</h2>
			<div class="js-sol-video relative max-w-5xl mx-auto mt-16">
				{% if page.case_study.video %}
					<iframe class="video-iframe is-hidden" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-src="https://www.youtube.com/embed/{{page.case_study.video.src}}?autoplay=1" frameborder="0"></iframe>
				{% endif %}
				<div class="js-sol-video-container relative">
					<div class="absolute h-full w-full flex justify-center items-center">
						<img class="relative z-20" src="{{page.case_study.logo}}">
					</div>
					<div>
						<div class="video-gradient--center"></div>
						<img src="{{page.case_study.img}}" alt="">
					</div>
					<div class="absolute bottom-0 right-0 mb-16 mr-16">
						<button class="js-video btn btn-primary btn-icon flex items-center">{{page.case_study.video.cta}}
							<img class="ml-6" src="{{assetPath('images/icon-play.svg')}}">
							<img class="ml-6 hidden" src="{{assetPath('images/icon-play-black.svg')}}">
						</button>
					</div>
				</div>
			</div>
			<a href="{{page.case_study.path}}" class="inline-flex no-underline justify-center mt-16">
				<h3 class="text-white normal-case mr-4 hover:underline">{{base.case_study.more}}</h3>
				<img src="{{assetPath('images/icon-arrow-white.svg')}}">
			</a>
		</section>
	{% endif %}

	{% if page.review %}
		<section class="relative gradient-{{page.product}}">
			<h2 class="text-center text-white">
				{{base.review.title}}
			</h2>
			<div class="relative max-w-4xl bg-white rounded-xl mx-auto mt-20 p-16 z-10 shadow-xl">
				{% include 'components/review.twig' %}
			</div>
			<div class="bg-double-color"></div>
		</section>
	{% endif %}

	<section class="simple text-center bg-white pt-16 pb-24">
		<h2 class="max-w-4xl text-black mx-auto">
			{{base.advantages.title|format(page.product|capitalize)}}
		</h2>
		<div class="h-full pt-24 mt-16">
			{% include "components/advantages.twig" with {advantages: base.advantages.items} %}
		</div>
	</section>

	{% if page.integrations %}
		<section class="simple text-center bg-purple py-12">
			<h2 class="text-white">
				{{page.integrations.title}}
			</h2>
			<div class="max-w-6xl mx-auto">
				<ul class="inline-flex flex-wrap justify-center mt-8">
					{% for integration in page.integrations.items %}
						<li class="px-2 mx-2">
							<img class="w-48 h-18" src="{{assetPath("images/integrations-#{integration|lower}.png")}}" alt="{{page.integrations.alt|format(integration)}}">
						</li>
					{% endfor %}
				</ul>
			</div>
		</section>
	{% endif %}

	<section class="relative bg-white pt-8">
		<div class="mx-4">
			{% include "components/cta.twig" with {cta: base.cta} %}
		</div>
	</section>

	<script>
		jQuery.ajax({
url: "https://freegeoip.app/json/#{userIp}",
type: 'GET',
success: function (data) {
if (data.country_code === 'ES') {
const el = document.querySelector('.js-planes-host')
if (el !== null) {
el.classList.remove('hidden')
}
}
},
error: function () {
const el = document.querySelector('.js-planes-host')
if (el !== null) {
el.classList.remove('hidden')
}
}
});
	</script>
{% endblock %}
