{% extends "layouts/base.twig" %}

{% set page = post.get_field('json_data')|json_decode %}

{% block content %}
	<div class="el_hub_goguest py-15">
        <div class="bg_grey_right_70"></div>
        <div class="container-fluid px-0">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <img class="mx-auto w-100" src="{{assetPath('images/home_img/team_head.png')}}">
                </div>
                <div class="col-md-6 px-5 py-5 text-center text-md-left mx-650">
                    <h1 class="text_blue">We are changing the way people enjoy </h1>
                    <p class="font-25">Nuestra mision es hacer facil lo dificil, nuestra promesa es crear experiencias inmejorables para tus clientes y nuestra esencia es tecnologia y mucha imaginacion.</p>
                </div>
            </div>
        </div>
    </div>
	
	<section class="bg-white simple">
		<div class="relative max-w-6xl mx-auto">
			<div class="team">
				{% for member in page.team %}
					<div class="js-team-item team-item team-item-{{loop.index}} z-10">
						<img class="{{member.class ? member.class : ''}}" src="{{member.image}}"/>
					</div>
				{% endfor %}
			</div>
			<div class="team-back">
				{% for member in page.team %}
					<div class="js-team-item team-item team-item-{{loop.index}} hidden">
						<div class="team-content">
							<h2 class="font-header text-left text-white">{{member.name}}</h2>
							<div class="flex">
								<h3 class="font-header text-xl text-white mt-2 mr-4">{{member.role}}</h3>																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																								                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    </a> #}
							</div>
							<p class="font-header text-xl text-white mt-4">{{member.content}}</p>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="bg-white simple">
		<h2 class="text-center md:pt-32">{{page.careers}}</h1>
		<div class="max-w-4xl mx-auto pt-16 pb-32">
			{{ function('do_shortcode', "[contact-form-7 title='#{post.slug|capitalize}']") }}
		</div>
	</section>
{% endblock %}
